.container {
    font-family: Roboto, sans-serif;
    width: 100px;
    margin:  0 auto;
    padding: 5px;
}
#batteryEnd {
    width: 15px;
}
#batteryEnd div {
    width: 35px;
    height: 15px;
    margin-left: 30px;
    background-color: #cccccc;
}
#batteryBody {
    width: 75px;
    height: 150px;
    border: 10px solid #cccccc;
}
#indicator {
    width: 100%;
    background-color: #ffffff;
}
#status {
    top: 80px;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    display: block;
}

/*  */
.full {
    background-color: #1aff1a;
}
.good {
    background-color: #bde24d;
}
.medium {
    background-color: #ffff00;
}
.low {
    background-color: #ffc800;
}
.empty {
    background-color: #ff5200;
}